input {
    redis {
        host => "192.168.10.44"
        port => 6380
        db => 0
        key => "docker-localhost"
        password => "123456"
        data_type => "list"
        threads => 4
        tags => "docker-localhost"
    }
}

filter {
    grok {
        match => {
        "message" => "(?<datetime>\d{4}-\d{2}-\d{2}\s\d{2}:\d{2}:\d{2}.\d{3})" #日志格式：2020-04-17 15:00:31.692
        }
    }
    date {
        match => ["datetime","yyyy-MM-dd HH:mm:ss.SSS"]
        target => "@timestamp"
    }
}

output {
    if "docker-localhost" in [tags] {
        if [fields][function] == "docker-localhost" {
            elasticsearch {
                hosts => ["192.168.10.44:9201","192.168.10.44:9202","192.168.10.44:9203"]
                index => "docker-localhost-%{+YYYY.MM.dd}"
                #user => "admin"
                #password => "admin"
            }
        }
    }
}

