input {
    redis {
        host => "192.168.10.44"
        port => 6380
        db => 1 
        key => "metric-localhost"
        password => "123456"
        data_type => "list"
        threads => 2
        tags => "metric-localhost"
    }
}

output {
    if "metric-localhost" in [tags] {
        elasticsearch {
            hosts => ["192.168.10.44:9201","192.168.10.44:9202","192.168.10.44:9203"]
            index => "metric-localhost-%{+YYYY.MM.dd}"
        }
    }
}

