input {
  redis {
    host => "192.168.10.24"
    port => 6380
    db => 0
    key => "cyf"
    password => "123456"
    data_type => "list"
    threads => 4
    tags => "localhost"
  }
}

filter {
#  if [type] == "filebeat-tags" {
#  }
}

output {
  if "localhost" in [tags] {
    if [fields][app_id] == "nginx-access" {
        elasticsearch {                      
        hosts => ["192.168.10.24:9201"] 
        index => "nginx-access-%{+YYYY.MM.dd}"
        #user => "admin"                   
        #password => "admin"  
        }
    } else if [fields][app_id] == "nginx-error" {
        elasticsearch {                      
        hosts => ["192.168.10.24:9201"] 
        index => "nginx-error-%{+YYYY.MM.dd}"
        #user => "admin"                   
        #password => "admin"  
        }
    }   
  }
}

